<nav>
  <a id="usermenu-button">
    <img id="usermenu-icon" src="/images/user-avatar.png" />
  </a>
  <ul id="usermenu-container">
    <li>Dashboard</li>
    <li>Profile</li>
    <li>New Pen</li>
    <li>Settings</li>
    <li>Log Out</li>
  </ul>
</nav>
